*{
    box-sizing:border-box;
}
body{
    margin:0;
    /* background-image: url("/img/bg.jpg"); */
    background-repeat: no-repeat;
    background-size:150%;
    
}

h1{
    margin: auto;
    text-align:center;
    padding: 30px;       
}
        
div{
    margin:auto;
    display: block;
}

td{
    color: white;
    text-align: center;
    width: 200px;
    flex-wrap: nowrap;
    
}

.winners-list{
    background-color: rgba(0, 0, 0, 0.2);
    margin-left:auto;
    margin-right:auto;
    width:400px;
}

.beginners , .mediums , .experts{
    text-align: center;
    font-size: 20px;    
    padding: 20px 30px;    
    display:  table-cell;
    width: 60px;
}
thead{
    color:black;
}

.lives-modal {
    display:none;
    width: 200px;
    height: 120px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    background-color: rgba(134, 182, 255, 0.93);
    border-radius: 5px;
    text-align: center;
  }

.modal-body{
    margin: auto;
    padding-top: 20px;
    font-size: 16px;
}
.mine-smiley{
    width: 20px;
    display: block;
    margin: auto;
}
.modal-button{
    border: 0px solid white;
    background-color: rgba(0, 128, 0, 0.426);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    margin-left:65px;
    margin-top: 20px;
    display: block;
}

.heart{
    display: inline;
    width: 25px; 
    
}
.blur{
     filter: blur(1px); 
}
.hint{
    display: inline;
    width: 40px;
    
    
}

.mines-time-bar{
    width: 200px;
    display: flex;
    text-align: center;
    margin-bottom: -50px;

}
.mines-div , .timer-div {
    margin-left:auto;
    margin-right:auto;
    margin-top: 0;
    width:40px;
    height:50px;
}

.hearts-hints {
    background-color: rgba(236, 237, 170, 0.324);
    width:30%;
    height:50px;
    border-radius: 5px;
    display: flex;
    margin-top:10px; 
    margin-bottom: 10px;
}

.safe-undo{
    background-color: rgba(236, 237, 170, 0.324);
    width:30%;
    height:80px;
    border-radius: 5px;
    display: flex;
    margin-top:10px; 
    margin-bottom: 10px;
}

.safe, .undo{
    margin: auto;
    border: 0;
    height: 55px;
    width: 100px;
    border-radius: 5px;
    background: rgba(0, 162, 255, 0.888);
    font-weight: 600;
    vertical-align: center;
    text-align: center;
    font-size: 16px;
}

table{
    margin:auto;
    margin-top: 50px;
}

.status-smiley{
    display: inline;
    padding: 20px;
    width: 100px;
    height: 100px;
}
.level-scale{
    text-align: center;
    font-size: 20px;
    color: rgb(53, 114, 160);
    font-weight: 550;
}

.cell{
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 1px 1px 3px 0px white;
}

.close-cell{
    background-color: grey;
}

.open-cell{
    background-color: rgba(170, 237, 170, 0.324);

}

.num1{
    color:blue;
}

.num2{
    color:green;
}

.num3{
color:rebeccapurple;
}

.num4{
    color:goldenrod;
}

.num5{
    color:red;
}

.num6{
    color:rgb(0, 255, 149);
}

.num7{
    color:rgb(255, 0, 221);
}

.num8{
    color:rgb(0, 81, 128);
}

.safe-cell{
    background-color: rgba(0, 128, 0, 0.666);
    filter: blur(1px);
}

/* .rTable {
    display: table;
    width: 60%;
    
 }
 .rTableRow {
    display: table-row;
 }
 .rTableHeading {
    display: table-header-group;
    background-color: #ddd;
 }
 .rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    text-align: center;
 }
 .rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
 }
 .rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
 }
 .rTableBody {
    display: table-row-group;
 } */

